# OS
.DS_Store
Thumbs.db
desktop.ini
$RECYCLE.BIN/

# Editors / IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*~

# Logs
*.log
npm-debug.log*

# Local helper scripts
_*.ps1
_*.js
_*.bat
